body {
    font-family: 'Zen Antique', serif!important;    
    /*font-family: 'Caveat', cursive !important;*/
}

.navbar {
    background-color: black;
}   

.inicio-bg {
    background: rgb(71,71,71);
    background-image: url('../imagenes/doberman-bg.jpeg') center no-repeat ;
    background-image:  linear-gradient(180deg, rgba(71,71,71,.7) 0%, rgba(0,0,0,.8) 100%), url('../imagenes/doberman-bg.jpeg') ;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    overflow:hidden;
    height:calc(100vh - 56px ) ;
}

.inicio-logo {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    opacity:.8;
    overflow:hidden;
}

.logo {
    height:65vh;
}

.inicio-logo h1  {
    color:white; display:none;
}

.inicio-logo h6, .inicio-logo h4 {
    color:lightgray;
}

/*NOSOTROS*/
#nosotros {
    background-color:#C10474;
    color:white;
}
#nosotros h2 {
    color:black;
}
#nosotros h5 {
    opacity:.8;
    color:black;
}

/*CONTACTO*/
a.contacto {
    color:white!important;
    text-decoration: none!important; 
    transition:all .6s ease;
}
a.contacto:hover {
    color:#D0C604!important;
}

footer a {
    text-decoration:none;
    color:#01AEEE;
    transition:all .6s ease;
}
footer a:hover {
    color:white;
}